{
  "extends": [],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2017,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "impliedStrict": true,
      "classes": true
    }
  },
  "globals": {
    "tw": true
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  },
  "plugins": ["prettier"]
}
